<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>24hrs health</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<script>
{#  function bigImg(x) {#}
{##}
{#      var myWindow = window.open("", "_blank", "myWindow","toolbar=0, location=0, status=0, scrollbars=0, resizable=0");   // Opens a new window#}
{#      if(x=='i1') {#}
{##}
{#      }#}
{#          myWindow. document.write('<img style="display: block;margin-left: auto;margin-right: auto;width: 80%;height:99%" src="data:image/png;base64,{{ plottimeuta }}">');#}
{#      if(x=='i2')#}
{#          myWindow. document.write('<img style="display: block;margin-left: auto;margin-right: auto;width: 80%;height:99%" src="data:image/png;base64,{{ plottimecpb }}">');#}
{#      if(x=='i3')#}
{#          myWindow. document.write('<img style="display: block;margin-left: auto;margin-right: auto;width: 80%;height:99%" src="data:image/png;base64,{{ plottimeoscer }}">');#}
{#      if(x=='i4')#}
{#          myWindow. document.write('<img style="display: block;margin-left: auto;margin-right: auto;width: 80%;height:99%" src="data:image/png;base64,{{ plottimetransrcuta }}">');#}
{#      if(x=='i5')#}
{#          myWindow. document.write('<img style="display: block;margin-left: auto;margin-right: auto;width: 80%;height:99%" src="data:image/png;base64,{{ plottimetransrccpb }}">');#}
{#      if(x=='i6')#}
{#          myWindow. document.write('<img style="display: block;margin-left: auto;margin-right: auto;width: 80%;height:99%" src="data:image/png;base64,{{ plottimetransrcosc }}">');#}
{#      if(x=='i7')#}
{#          myWindow. document.write('<img style="display: block;margin-left: auto;margin-right: auto;width: 80%;height:99%" src="data:image/png;base64,{{ plottimetrandesuta }}">');#}
{#      if(x=='i8')#}
{#          myWindow. document.write('<img style="display: block;margin-left: auto;margin-right: auto;width: 80%;height:99%" src="data:image/png;base64,{{ plottimetrandescpb }}">');#}
{#      if(x=='i9')#}
{#          myWindow. document.write('<img style="display: block;margin-left: auto;margin-right: auto;width: 80%;height:99%" src="data:image/png;base64,{{ plottimetrandesosc }}">');#}
{#  }#}


</script>
<body style="margin-left: 1%;margin-right: 1%;width:97%;">

<h1 align="center">Dashboard - Cluster Health</h1>

<div>
    <br>
    <table style="width:48%;margin-left: 2%;margin-right: 2%">

        <tr><td style="width: 1%;padding:1px"><label for="time">Default sites:</label></td>
       <form name="viewtime" method="post" action="/viewtimegraph">
        <td style="width: 1%;padding:1px">
                <select name="option" width="280px">
                    <option value="0" {% if ddval=='0' %}selected{% endif %}>All Sites</option>
                    <option value="1" {% if ddval=='1' %}selected{% endif %}>UTA_SWT2</option>
                <option value="2" {% if ddval=='2' %} selected{% endif %}>SWT2_CPB</option>
                <option value="3" {% if ddval=='3' %} selected{% endif %}>OU_OSCER_ATLAS</option>
        </select>
        </td>
         <td style="width: 1%;padding:1px"><button type="submit" class="btn btn-primary">View</button></td>
         </form>
         <td style="width: 1%;padding:1px;" ><a href="{{url_for('.config')}}" class="btn btn-link">Set/Edit Configuration values</a></td>
        <td style="width: 1%;padding:1px;" ><a href="{{url_for('.preinterval')}}" class="btn btn-link">View previous intervals</a></td>
        </tr>

    </table>
</div>

<div> <h4 align="center">Deletion and Transfer file details of default clusters : UTA_SWT2, SWT2_CPB, OU_OSCER_ATLAS </h4>

<br>
    <table style="margin-left: 0%;margin-right: 0%;width:99%;display:{{ allsites }};" align="left">
        <tr style="width: 5%">
             <td style="width:10%;align:left;padding: 1px">

            <a href="{{url_for('.viewdelgraph1')}}"> <img style="height:340px;width:520px;"  id="d1" src="/static/images/del_uta.png"></a>

        </td>
             <td style="width:10%;align:left;padding: 1px">

             <a href="{{url_for('.viewdelgraph2')}}"> <img style="height:340px;width:520px;"  id="d2" src="data:image/png;base64,{{ plottimecpb }}"></a>

        </td>
                  <td style="width:10%;align:left;padding: 1px">

            <a href="{{url_for('.viewdelgraph3')}}"> <img style="height:340px;width:520px;"  id="d3" src="data:image/png;base64,{{ plottimeoscer }}"></a>

        </td>


    </tr>

        <tr><td colspan="3">&nbsp;</td> </tr>
        <tr style="width: 5%">
             <td style="width:10%;align:left;padding: 1px">

                       <a href="{{url_for('.viewtransrcgraph1')}}"> <img style="height:340px;width:520px;"  id="ts1" src="data:image/png;base64,{{ plottimetransrcuta }}"></a>

        </td>
             <td style="width:10%;align:left;padding: 1px">
                 <a href="{{url_for('.viewtransrcgraph2')}}"> <img style="height:340px;width:520px;"  id="ts2" src="data:image/png;base64,{{ plottimetransrccpb }}"></a>



        </td>
                  <td style="width:10%;align:left;padding: 1px">
                      <a href="{{url_for('.viewtransrcgraph3')}}"> <img style="height:340px;width:520px;"  id="ts3" src="data:image/png;base64,{{ plottimetransrcosc }}"></a>


        </td>
        </tr>
         <tr><td colspan="3">&nbsp;</td> </tr>
        <tr style="width: 5%">
             <td style="width:10%;align:left;padding: 1px">


                 <a href="{{url_for('.viewtrandesgraph1')}}"> <img style="height:340px;width:520px;"  id="td1" src="data:image/png;base64,{{ plottimetrandesuta }}"></a>

        </td>
             <td style="width:10%;align:left;padding: 1px">


                 <a href="{{url_for('.viewtrandesgraph2')}}"> <img style="height:340px;width:520px;"  id="td2" src="data:image/png;base64,{{ plottimetrandescpb }}"></a>

        </td>
                  <td style="width:10%;align:left;padding: 1px">


                      <a href="{{url_for('.viewtrandesgraph3')}}"> <img style="height:340px;width:520px;"  id="td3" src="data:image/png;base64,{{ plottimetrandesosc }}"></a>

        </td>
        </tr>

    </table>

       <table style="margin-left: 0%;margin-right: 0%;width:99%;display:{{ utasites }};" align="left">
        <tr style="width: 5%">
             <td style="width:10%;align:left;padding: 1px">

            <a href="{{url_for('.viewdelgraph1')}}"> <img style="height:340px;width:520px;"  id="d1" src="data:image/png;base64,{{ plottimeuta }}"></a>

        </td>
             <td style="width:10%;align:left;padding: 1px">

             <a href="{{url_for('.viewtransrcgraph1')}}"> <img style="height:340px;width:520px;"  id="d2" src="data:image/png;base64,{{ plottimetransrcuta }}"></a>

        </td>
                  <td style="width:10%;align:left;padding: 1px">

            <a href="{{url_for('.viewtrandesgraph1')}}"> <img style="height:340px;width:520px;"  id="d3" src="data:image/png;base64,{{ plottimetrandesuta }}"></a>

        </td>


    </tr>
           </table>
          <table style="margin-left: 0%;margin-right: 0%;width:99%;display:{{ cpbsites }};" align="left">
        <tr style="width: 5%">
             <td style="width:10%;align:left;padding: 1px">

            <a href="{{url_for('.viewdelgraph2')}}"> <img style="height:340px;width:520px;"  id="d1" src="data:image/png;base64,{{ plottimecpb }}"></a>

        </td>
             <td style="width:10%;align:left;padding: 1px">

             <a href="{{url_for('.viewtransrcgraph2')}}"> <img style="height:340px;width:520px;"  id="d2" src="data:image/png;base64,{{ plottimetransrccpb }}"></a>

        </td>
                  <td style="width:10%;align:left;padding: 1px">

            <a href="{{url_for('.viewtrandesgraph2')}}"> <img style="height:340px;width:520px;"  id="d3" src="data:image/png;base64,{{ plottimetrandescpb }}"></a>

        </td>


    </tr>

           </table>

              <table style="margin-left: 0%;margin-right: 0%;width:99%;display:{{ oscsites }};" align="left">
        <tr style="width: 5%">
             <td style="width:10%;align:left;padding: 1px">

            <a href="{{url_for('.viewdelgraph3')}}"> <img style="height:340px;width:520px;"  id="d1" src="data:image/png;base64,{{ plottimeoscer }}"></a>

        </td>
             <td style="width:10%;align:left;padding: 1px">

             <a href="{{url_for('.viewtransrcgraph3')}}"> <img style="height:340px;width:520px;"  id="d2" src="data:image/png;base64,{{ plottimetransrcosc }}"></a>

        </td>
                  <td style="width:10%;align:left;padding: 1px">

            <a href="{{url_for('.viewtrandesgraph3')}}"> <img style="height:340px;width:520px;"  id="d3" src="data:image/png;base64,{{ plottimetrandesosc }}"></a>

        </td>


    </tr>

           </table>



</div>

</body>
</html>